<ul class="hot_box">
	<li class="title">오늘의 핫돌픽</li>
	<li><img src="/Images/sns_twitter.png" width="16" height="16" alt="Facebook"> <a href="/App/Main/AOA">#AOA</a> <span>148 <img src="/Images/icon_like.png" height="16"></span></li>
	<li><img src="/Images/sns_twitter.png" width="16" height="16" alt="Facebook"> <a href="/App/Main/초아">#초아</a> <span>139 <img src="/Images/icon_like.png" height="16"></span></li>
	<li><img src="/Images/sns_instagram.png" width="16" height="16" alt="Facebook"> <a href="/App/Main/전효성">#전효성</a> <span>80 <img src="/Images/icon_like.png" height="16"></span></li>
	<li><img src="/Images/sns_instagram.png" width="16" height="16" alt="Facebook"> <a href="/App/Main/아이유">#아이유</a> <span>73 <img src="/Images/icon_like.png" height="16"></span></li>
	<li><img src="/Images/sns_twitter.png" width="16" height="16" alt="Facebook"> <a href="/App/Main/한승연">#한승연</a> <span>56 <img src="/Images/icon_like.png" height="16"></span></li>
</ul>
