

<!doctype html>
<html>
<head>
		<meta property="og:title" content="DolPic">
<meta property="og:type" content="article">
<meta property="og:image">
<meta property="og:description" content="아이돌, 유명 연예인 SNS 사진 이미지 모음 | 돌픽 -">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
		<meta name="description" content="아이돌, 유명 연예인 SNS 이미지 모음 | 돌픽">
		<meta name="keywords" content="짤빵, 이미지, 아이돌, 유명 연예인, SNS,트위터, 인스타그램, 페이스북">
		<title>돌픽 | 아이돌, 유명 연예인 SNS 이미지 모음</title>
		<link rel="shortcut icon" href="http://www.dolpic.kr/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="/Css/common.m.css">
		<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
		<script src="/Js/jquery.mobile-events.min.js"></script>
		</head>
<body>

<!-- 하단 리스트 -->
<div class="dolpic_warp">
		<div class="wrapper">
				<div class="search_box">
						<input type="text" placeholder="검색" class="search">
				</div>
				<!-- 리스트 박스 -->
						<div class="dolpic_lbox" seq="103">
								<div class="dolpic_ltag">
										<img src="/images/sns_facebook.png" width="12" height="12" alt="Facebook">
										<img src="/images/sns_instagram.png" width="12" height="12" alt="Instagram">
										<img src="/images/sns_twitter.png" width="12" height="12" alt="Twitter">
								</div>
								<div class="dolpic_limg" style="background:url(https://pbs.twimg.com/tweet_video_thumb/CqcWwTLVIAA2hVo.jpg:thumb) center center no-repeat;background-size:cover" onclick="location.href='/App/Main/2NE1';"></div>
								<div class="dolpic_lname" onclick="location.href='/App/Main/2NE1';" style="cursor:pointer">2NE1</div>
								<div id="in103" seq="0" class="dolpic_fbtn off" onclick="fnFavoriteInsert('103', '2NE1');"></div>
						</div>
						<div class="dolpic_lbox" seq="104">
								<div class="dolpic_ltag">
										<img src="/images/sns_facebook.png" width="12" height="12" alt="Facebook">
										<img src="/images/sns_instagram.png" width="12" height="12" alt="Instagram">
										<img src="/images/sns_twitter.png" width="12" height="12" alt="Twitter">
								</div>
								<div class="dolpic_limg" style="background:url(https://pbs.twimg.com/tweet_video_thumb/ClOyn8DUYAAbqFw.jpg:thumb) center center no-repeat;background-size:cover" onclick="location.href='/App/Main/2PM';"></div>
								<div class="dolpic_lname" onclick="location.href='/App/Main/2PM';" style="cursor:pointer">2PM</div>
								<div id="in104" seq="0" class="dolpic_fbtn off" onclick="fnFavoriteInsert('104', '2PM');"></div>
						</div>
						<div class="dolpic_lbox" seq="105">
								<div class="dolpic_ltag">
										<img src="/images/sns_facebook.png" width="12" height="12" alt="Facebook">
										<img src="/images/sns_instagram.png" width="12" height="12" alt="Instagram">
										<img src="/images/sns_twitter.png" width="12" height="12" alt="Twitter">
								</div>
								<div class="dolpic_limg" style="background:url(https://pbs.twimg.com/media/CZDaoV3U0AEi6kF.jpg:thumb) center center no-repeat;background-size:cover" onclick="location.href='/App/Main/2AM';"></div>
								<div class="dolpic_lname" onclick="location.href='/App/Main/2AM';" style="cursor:pointer">2AM</div>
								<div id="in105" seq="0" class="dolpic_fbtn off" onclick="fnFavoriteInsert('105', '2AM');"></div>
						</div>
						<div class="dolpic_lbox" seq="109">
								<div class="dolpic_ltag">
										<img src="/images/sns_facebook.png" width="12" height="12" alt="Facebook">
										<img src="/images/sns_instagram.png" width="12" height="12" alt="Instagram">
										<img src="/images/sns_twitter.png" width="12" height="12" alt="Twitter">
								</div>
								<div class="dolpic_limg" style="background:url(https://pbs.twimg.com/media/CxJBTrZVQAAt1Ie.jpg:thumb) center center no-repeat;background-size:cover" onclick="location.href='/App/Main/경리';"></div>
								<div class="dolpic_lname" onclick="location.href='/App/Main/경리';" style="cursor:pointer">경리</div>
								<div id="in109" seq="0" class="dolpic_fbtn off" onclick="fnFavoriteInsert('109', '경리');"></div>
						</div>
						<div class="dolpic_lbox" seq="116">
								<div class="dolpic_ltag">
										<img src="/images/sns_facebook.png" width="12" height="12" alt="Facebook">
										<img src="/images/sns_instagram.png" width="12" height="12" alt="Instagram">
										<img src="/images/sns_twitter.png" width="12" height="12" alt="Twitter">
								</div>
								<div class="dolpic_limg" style="background:url(https://pbs.twimg.com/media/CZJqvEIUMAEBp38.jpg:thumb) center center no-repeat;background-size:cover" onclick="location.href='/App/Main/WINNER';"></div>
								<div class="dolpic_lname" onclick="location.href='/App/Main/WINNER';" style="cursor:pointer">WINNER</div>
								<div id="in116" seq="0" class="dolpic_fbtn off" onclick="fnFavoriteInsert('116', 'WINNER');"></div>
						</div>
				<div class="clear"></div>
				</div>
		<div class="sponsor">돌픽은 SNS 이미지를 모아주는 사이트입니다.</div>
		<div class="sponsor">Icons made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
</div>

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

style.
	.ui-autocomplete-category {
		font-weight: bold;
		padding: .2em .4em;
		margin: .8em 0 .2em;
		line-height: 1.5;
	}
	body {
		font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
		font-size: 70%;
	}
script.
		$.widget("custom.catcomplete", $.ui.autocomplete, {
				_create: function () {
						this._super();
						this.widget().menu("option", "items", "> :not(.ui-autocomplete-category)");
				},
				_renderMenu: function (ul, items) {
						var that = this,
						currentCategory = "";
						$.each(items, function (index, item) {
								var li;
								if (item.category != currentCategory) {
										ul.append("<li class='ui-autocomplete-category'>" + item.category + "</li>");
										currentCategory = item.category;
								}
								li = that._renderItemData(ul, item);
								if (item.category) {
										li.attr("aria-label", item.category + " : " + item.label);
								}
						});
				}
		});
		$(function () {
				var data = [
				{label:"2NE1",category:"2"},{label:"2PM",category:"2"},{label:"2AM",category:"2"},{label:"경리",category:"ㄱ"},{label:"김선아",category:"ㄱ"},{label:"가영",category:"ㄱ"},{label:"강민경",category:"ㄱ"},{label:"걸스데이",category:"ㄱ"},{label:"구하라",category:"ㄱ"},{label:"권소현",category:"ㄱ"},{label:"김태헌",category:"ㄱ"},{label:"김동준",category:"ㄱ"},{label:"공민지",category:"ㄱ"},{label:"고준희",category:"ㄱ"},{label:"김고은",category:"ㄱ"},{label:"공유",category:"ㄱ"},{label:"남규리",category:"ㄴ"},{label:"남지현",category:"ㄴ"},{label:"나인뮤지스",category:"ㄴ"},{label:"니엘",category:"ㄴ"},{label:"남주혁",category:"ㄴ"},{label:"달샤벳",category:"ㄷ"},{label:"디오",category:"ㄷ"},{label:"다솜",category:"ㄷ"},{label:"다혜",category:"ㄷ"},{label:"도희",category:"ㄷ"},{label:"도끼",category:"ㄷ"},{label:"레이양",category:"ㄹ"},{label:"랩몬스터",category:"ㄹ"},{label:"레이",category:"ㄹ"},{label:"레드벨벳",category:"ㄹ"},{label:"리키",category:"ㄹ"},{label:"루한",category:"ㄹ"},{label:"러블리즈",category:"ㄹ"},{label:"레인보우",category:"ㄹ"},{label:"미쓰에이",category:"ㅁ"},{label:"민희",category:"ㅁ"},{label:"민호",category:"ㅁ"},{label:"마마무",category:"ㅁ"},{label:"민아",category:"ㅁ"},{label:"민효린",category:"ㅁ"},{label:"미성",category:"ㅁ"},{label:"문별",category:"ㅁ"},{label:"문준영",category:"ㅁ"},{label:"박규리",category:"ㅂ"},{label:"박형식",category:"ㅂ"},{label:"박서준",category:"ㅂ"},{label:"박봄",category:"ㅂ"},{label:"빈지노",category:"ㅂ"},{label:"벤",category:"ㅂ"},{label:"방탄소년단",category:"ㅂ"},{label:"비스트",category:"ㅂ"},{label:"보라",category:"ㅂ"},{label:"빅뱅",category:"ㅂ"},{label:"백현",category:"ㅂ"},{label:"뷔",category:"ㅂ"},{label:"블락비",category:"ㅂ"},{label:"밤비노",category:"ㅂ"},{label:"베스티",category:"ㅂ"},{label:"보이프렌드",category:"ㅂ"},{label:"빅스",category:"ㅂ"},{label:"설리",category:"ㅅ"},{label:"스피카",category:"ㅅ"},{label:"소유",category:"ㅅ"},{label:"서현",category:"ㅅ"},{label:"신세경",category:"ㅅ"},{label:"써니",category:"ㅅ"},{label:"수영",category:"ㅅ"},{label:"스텔라",category:"ㅅ"},{label:"슈퍼주니어",category:"ㅅ"},{label:"선미",category:"ㅅ"},{label:"소희",category:"ㅅ"},{label:"솔지",category:"ㅅ"},{label:"서인영",category:"ㅅ"},{label:"씨스타",category:"ㅅ"},{label:"씨엔블루",category:"ㅅ"},{label:"수지",category:"ㅅ"},{label:"시우민",category:"ㅅ"},{label:"세훈",category:"ㅅ"},{label:"소지섭",category:"ㅅ"},{label:"슈가",category:"ㅅ"},{label:"설현",category:"ㅅ"},{label:"소녀시대",category:"ㅅ"},{label:"수호",category:"ㅅ"},{label:"시크릿",category:"ㅅ"},{label:"소진",category:"ㅅ"},{label:"샤이니",category:"ㅅ"},{label:"써니힐",category:"ㅅ"},{label:"승아",category:"ㅅ"},{label:"솔라",category:"ㅅ"},{label:"성소",category:"ㅅ"},{label:"송혜교",category:"ㅅ"},{label:"서유리",category:"ㅅ"},{label:"산다라박",category:"ㅅ"},{label:"씨엘",category:"ㅅ"},{label:"승리",category:"ㅅ"},{label:"송지은",category:"ㅅ"},{label:"이기광",category:"ㅇ"},{label:"양요섭",category:"ㅇ"},{label:"용준형",category:"ㅇ"},{label:"윤두준",category:"ㅇ"},{label:"임시완",category:"ㅇ"},{label:"이유리",category:"ㅇ"},{label:"윤시윤",category:"ㅇ"},{label:"예지",category:"ㅇ"},{label:"유라",category:"ㅇ"},{label:"엠블랙",category:"ㅇ"},{label:"애프터스쿨",category:"ㅇ"},{label:"엑소",category:"ㅇ"},{label:"아이유",category:"ㅇ"},{label:"유연석",category:"ㅇ"},{label:"임지연",category:"ㅇ"},{label:"유이",category:"ㅇ"},{label:"여자친구",category:"ㅇ"},{label:"이효리",category:"ㅇ"},{label:"에일리",category:"ㅇ"},{label:"엘조",category:"ㅇ"},{label:"온유",category:"ㅇ"},{label:"에이핑크",category:"ㅇ"},{label:"원더걸스",category:"ㅇ"},{label:"유빈",category:"ㅇ"},{label:"예은",category:"ㅇ"},{label:"윤아",category:"ㅇ"},{label:"유리",category:"ㅇ"},{label:"유나",category:"ㅇ"},{label:"유경",category:"ㅇ"},{label:"예정화",category:"ㅇ"},{label:"이승기",category:"ㅇ"},{label:"오하영",category:"ㅇ"},{label:"유키스",category:"ㅇ"},{label:"오렌지캬라멜",category:"ㅇ"},{label:"위너",category:"ㅇ"},{label:"에프엑스",category:"ㅇ"},{label:"전율",category:"ㅈ"},{label:"종현",category:"ㅈ"},{label:"정화",category:"ㅈ"},{label:"제시카",category:"ㅈ"},{label:"정용화",category:"ㅈ"},{label:"지민",category:"ㅈ"},{label:"제이홉",category:"ㅈ"},{label:"정국",category:"ㅈ"},{label:"진",category:"ㅈ"},{label:"전효성",category:"ㅈ"},{label:"제국의아이들",category:"ㅈ"},{label:"재이",category:"ㅈ"},{label:"쯔위",category:"ㅈ"},{label:"주비",category:"ㅈ"},{label:"정연",category:"ㅈ"},{label:"진구",category:"ㅈ"},{label:"정희철",category:"ㅈ"},{label:"장현승",category:"ㅈ"},{label:"지드래곤",category:"ㅈ"},{label:"전지윤",category:"ㅈ"},{label:"정하나",category:"ㅈ"},{label:"차오루",category:"ㅊ"},{label:"초아",category:"ㅊ"},{label:"첸",category:"ㅊ"},{label:"찬열",category:"ㅊ"},{label:"창조",category:"ㅊ"},{label:"천지",category:"ㅊ"},{label:"찬미",category:"ㅊ"},{label:"키",category:"ㅋ"},{label:"캡",category:"ㅋ"},{label:"크레용팝",category:"ㅋ"},{label:"크리스탈",category:"ㅋ"},{label:"카이",category:"ㅋ"},{label:"카라",category:"ㅋ"},{label:"코타",category:"ㅋ"},{label:"케이",category:"ㅋ"},{label:"케빈",category:"ㅋ"},{label:"트와이스",category:"ㅌ"},{label:"타오",category:"ㅌ"},{label:"틴탑",category:"ㅌ"},{label:"탑",category:"ㅌ"},{label:"태연",category:"ㅌ"},{label:"태민",category:"ㅌ"},{label:"태양",category:"ㅌ"},{label:"티파니",category:"ㅌ"},{label:"티아라",category:"ㅌ"},{label:"포미닛",category:"ㅍ"},{label:"피에스타",category:"ㅍ"},{label:"효은",category:"ㅎ"},{label:"혜린",category:"ㅎ"},{label:"혜림",category:"ㅎ"},{label:"효연",category:"ㅎ"},{label:"혜정",category:"ㅎ"},{label:"혜령",category:"ㅎ"},{label:"하니",category:"ㅎ"},{label:"효린",category:"ㅎ"},{label:"현아",category:"ㅎ"},{label:"한승연",category:"ㅎ"},{label:"혜리",category:"ㅎ"},{label:"한선화",category:"ㅎ"},{label:"허가윤",category:"ㅎ"},{label:"허영지",category:"ㅎ"},{label:"혜연",category:"ㅎ"},{label:"황광희",category:"ㅎ"},{label:"하민우",category:"ㅎ"},{label:"한예리",category:"ㅎ"},{label:"홍진영",category:"ㅎ"},{label:"휘인",category:"ㅎ"},{label:"화사",category:"ㅎ"},{label:"AOA",category:"A"},{label:"B1A4",category:"B"},{label:"BAP",category:"B"},{label:"BTOB",category:"B"},{label:"EXO",category:"E"},{label:"EXID",category:"E"},{label:"FT아일랜드",category:"F"},{label:"GOT7",category:"G"},{label:"NS윤지",category:"N"},{label:"에프터스쿨",category:"o"},{label:"SS501",category:"S"},{label:"WINNER",category:"W"}
				];

				$(".search").catcomplete({
						delay: 0,
						source: data
				});
		});
script.
	$(document).ready(function() {
		var gboxDefault = ($('.gbox_gallery').width() - 24) / 3;
		var gboxWide = ($('.gbox_gallery').width() - 40) / 5;
		var lboxDefault = ($('.dolpic_warp .wrapper').width() - 12) / 2;
		var lboxWide = ($('.dolpic_warp .wrapper').width() - 12) / 3;
		if(window.innerHeight > window.innerWidth){
			$('.gbox').css({
				width: gboxDefault,
				height: gboxDefault
			});
			$('.dolpic_lbox').css({
				width: lboxDefault
			});
			$('.hot_box').removeClass('wide');
			$('.ad_wrap').removeClass('wide');
		} else {
			$('.gbox').css({
				width: gboxWide,
				height: gboxWide
			});
			$('.dolpic_lbox').css({
				width: lboxWide
			});
			$('.hot_box').addClass('wide');
			$('.ad_wrap').addClass('wide');
		}
			if($('.fbar').height() < 75) {
			$('.fbar_wrap').removeClass('more');
			$('.btn_more').hide();
		} else {
			$('.fbar_wrap').addClass('more');
			$('.btn_more').show();
		}
		$('.btn_more').live('click',function() {
			$('.fbar_wrap').removeClass('more');
			$('.btn_more').hide();
		});

		// 화면 전환시 새로고침
		var windowWidth = $(window).width();
		$(window).resize(function() {
			if(windowWidth != $(window).width()){
			location.reload();
			return;
			}
		});
	});

script.
		var bExec = false;

		$(function () {
				$(".search").keydown(function (key) {
						if (key.keyCode == 13) {
								fnSearchDol();
						}
				});
		});

		function fnSearchDol() {
				if ($(".search").val() == "") {
						$('.dolpic_lbox').show();
						return;
				}

				$('.dolpic_lbox').hide();

				if (bExec) {
						alert("요청을 처리중입니다.잠시만 기다려주세요.");
						return;
				}

				bExec = true;

				$.ajax({
						url: "/Pics/InitialSearchList",
						type: "POST",
						dataType: "json",
						data: {
								"SearchDol": $(".search").val()
						}
				})
				.done(function (data) {
						var retData = $.parseJSON(data);
						$(".dolpic_lbox[seq='" + retData.seq + "']").show();
						bExec = false;
				})
				.fail(function () {
						alert("실행중 에러가 발생했습니다.");
						bExec = false;
				});
		}

		function fnFavoriteInsert(seq, tag) {
				if ("" == "") {
						alert("로그인후 사용 가능합니다.");
						return;
				}

				if (bExec) {
						alert("요청을 처리중입니다.잠시만 기다려주세요.");
						return;
				}

				bExec = true;

				$.ajax({
						url: "/Pics/FavoriteInsert",
						type: "POST",
						dataType: "json",
						data: {
								"TagNo": seq
						}
				})
				.done(function (data) {
						var retData = $.parseJSON(data);
						if (retData.RetCode == 0) {
								$("#in" + seq).toggleClass('on');
						} else {
								alert(retData.RetMsg);
						}
						bExec = false;
				})
				.fail(function () {
						alert("실행중 에러가 발생했습니다.");
						bExec = false;
				});
		}

		function fnImageDownload() {
				alert("이미지 보기 화면에서 다운로드가 가능합니다.");
		}

		$(function () {
				// 웹뷰 통신
				window.dolpic.navibtn(0, 0, 0);
		});

</body>
</html>