#disqus_thread(style='width:720px')
	script(src='/js/common/disqusComment.js' type='text/javascript' charset='utf-8')
	<noscript>Please enable JavaScript to view the
	<a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
	</noscript>