.sponsor 돌픽은 SNS 이미지를 모아주는 사이트입니다.
.sponsor
	| Icons made by
	a(href='http://www.flaticon.com/authors/freepik' title='Freepik')  Freepik
	|  from
	a(href='http://www.flaticon.com' title='Flaticon')  www.flaticon.com
	|  is licensed by
	a(href='http://creativecommons.org/licenses/by/3.0/' title='Creative Commons BY 3.0')  CC BY 3.0