//img(src='/images/sample_ad2.jpg' width='728' height='90')
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 돌픽 하단 리더보드 -->
<ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-8262863496694505" data-ad-slot="1588619552"></ins>
script(src='/js/common/googlead.js' type='text/javascript' charset='utf-8')