meta(charset='utf-8')
meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no')
meta(name='description' content='아이돌, 유명 연예인 SNS 이미지 모음 | 돌픽')
meta(name='keywords' content='짤빵, 이미지, 아이돌, 유명 연예인, SNS,트위터, 인스타그램, 페이스북')
title=title
link(rel='shortcut icon', href='http://www.dolpic.kr/favicon.ico')
link(rel='apple-touch-icon', href='http://dolpic.kr/images/icon.png')
