script(src="https://code.jquery.com/jquery-3.2.1.min.js")
script(src='/js/common/application-web.js' type='text/javascript' charset='utf-8')
script(src=commonJavascript type='text/javascript' charset='utf-8')
script(src=javascript type='text/javascript' charset='utf-8')