script(src="http://code.jquery.com/jquery-2.2.0.min.js")
script(src='/js/common/application-mobile.js' type='text/javascript' charset='utf-8')
script(src=commonJavascript type='text/javascript' charset='utf-8')
script(src=javascript type='text/javascript' charset='utf-8')