a.twitter-timeline(href='https://twitter.com/DolpicKR' data-widget-id='612807293348896768')
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
.copyright
   | &copy; 2015 DolPic |
   a(href='#') Feedback